* {
    font-family: Lexend;
}

.skip-button {
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
}

.skip-button:focus {
    height: auto;
    width: auto;
    display: block;
}

nav ul li {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
}

a:focus {
    text-decoration: underline;
    color: blue;
}

.current-navigation {
    font-size: 2em;
    color: purple;
}

.photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content; /* OR min-content*/
}

.photo-gallery img, video{
    width: 95%;
    margin: auto;
    /* height: 95%; */
}

.photo-gallery figure{
    width: 95%;
    height: 75%;
    overflow: visible;
}

.photo-gallery figure figcaption {
    overflow: visible;
}

.long-image.long-image {
    width: 97.5%;
    height: auto;
    grid-column: 1/3;
}

img, video {
    border: solid 0.2rem black;
    margin: auto;
    border-radius: 25px;
}

.primary-image {
    height: auto;
    width: auto;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    /* border-style: inset;
    border-width: 1px; */
    border: solid black 2px;
}

header{
    background-color: antiquewhite;
}

.nav-container {
    background-color: blanchedalmond;
}

body{
    background-color: bisque;
}

.local-nav{
    display: none;
}

img:hover, img:focus {
    border: solid black 10px;
}

#pets-header {
    background-image: url('../images/petbanner.jpg');
    background-size: cover;
}

#recipe-header {
    background-image: url('../images/recipesbanner.jpg');
    background-size: cover;
}

#travel-header {
    background-image: url('../images/travelbanner.jpg');
    background-size: cover;
}

@media (min-width: 768px) and (max-width: 1280px)  {
    body {
        font-size: 36px;
    }

    .primary-image, .travel-primary-image, .primary-video {
        height: auto;
        width: 50%;
        margin: auto;
        display: block;
    }

    h1, h2, h3 {
        text-align: center;
    }

    .likes {
        display: inline-block;
        width: 32%;
        text-align: center;
        margin-bottom: 3%;
        margin-top: 3%;
        list-style-type: none;
    }

    hr {
        color: blanchedalmond;
        margin: 0;
    }

    ul{
        list-style-type: circle;
    }

    .local-nav {
        display: inline-block;
        text-align: center;
        margin: auto;
        font-size: 0.82em;
        border: solid 1px black;
    }
}

@media (min-width: 1280px){

    h1, h2, h3 {
        text-align: center;
    }

    h1 {
        font-size: 10rem;
    }

    h2 {
        font-size: 6rem;
    }

    h3 {
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
    }

    .primary-container {
        display: grid;
        grid-template-columns: 5fr 5fr 1fr;
    }

    .photo-container {
        margin: auto;
        width: 100%;
    }

    .likes {
        display: inline-block;
        width: 32%;
        text-align: center;
        margin-bottom: 3%;
        margin-top: 3%;
        list-style-type: none;
    }

    li{
        font-size: 2rem;
    }

    .local-nav {
        display: inline-block;
        text-align: center;
        margin: auto;
        font-size: 2rem;
    }

    nav a{
        padding: 0.4rem;
        margin: 0.4rem;
        border: solid 1px black;
        border-radius: 25px;
    }

    nav a:not(.local-nav) {
        padding: 0.3rem ;
        font-size: 4rem;
    }

    .photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: max-content; /* OR min-content*/
    }

    .long-image.long-image {
        width: 97.5%;
        height: auto;
        grid-column:auto;
    }

}


@media (prefers-reduced-motion) {
    .primary-video{
        display: none;
    }

    video{
        display: none;
    }
}

@media not (prefers-reduced-motion) {
    .travel-primary-image{
        display: none;
    }
}